body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    font-size: 12px;
    background: #1A222C none;
    color: #fff;
    font-family: Arial, sans-serif;
}

div {
    padding: 0;
    margin: 0;
}

#root {
    width: 100%;
    height: 100%;
}

#root-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

h1 {
    font-size: 24px;
    padding: 5px 15px;
    margin: 10px 0;
}

input[type=text] {
    background: #23303F none;
    color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    font-size: 12px;
}
input[type=text]::placeholder {
    color: #98A8B8;
}
input[type=button] {
    background: transparent none;
    color: #B0BFCE;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    font-size: 12px;
}
input[type=button]:hover {
    color: #3F85C4;
}

.toolbar {
    flex: 0 0 auto;
    margin: 0 0 10px 0;
    padding: 5px;
    border-bottom: 1px #23303F solid;
}
.toolbar .button {
    cursor: pointer;
}
.toolbar .button:hover {
    color: #456A93;
}

.messages {
    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: auto;
}
.messages > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.message {
    padding: 10px;
    background: #456A93 none;
    color: #fff;
    margin: 10px;
    border-radius: 10px;
    width: 300px;
}
.message.bot {
    background-color: #23303F;
    align-self: flex-start;
}
.textbox {
    border-top: 1px #23303F solid;
    margin: 5px 0 0 0;
    padding: 5px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.textbox.locked {
    background: linear-gradient(-45deg, #1A222C, #4d5e71, #1A222C, #4d5e71);
    background-size: 400% 400%;
    animation: Gradient 5s ease infinite;
}
@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.textbox > input {
    height: 30px;
    box-sizing: border-box;
    display: block;
    line-height: 12px;
    margin: 0;
}
.textbox > input[type=text] {
    flex: 1 0 auto;
    background: none;
    margin: 0 20px;
}

.reply-menu {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
}
.reply-menu > div {
    display: flex;
    flex-direction: column;
}
.reply-menu > div > input {
    display: block;
    flex: 1 0 auto;
    background: #23303F none;
    color: #fff;
    margin: 2px 20px;
}
